---
const logo = 'https://www.desarrollostiva.com/wp-content/uploads/2023/12/01_Logo-ArcoSanto-13.png'
---

<header class="header w-full h-auto py-10">

    <div class="row-header w-[90%] mx-auto max-w-[1140px] flex justify-between items-center">
         <div class="logo w-[50%] flex justify-start items-center">
              <img src={logo} alt="alturia-desarrollos" class="w-[130px] lazyload" loading="lazy">
         </div> 
         <div class="cta w-[50%] flex justify-end items-center">
            <a href="https://api.whatsapp.com/send?phone=526672320689&text=Hola%20necesito%20informacion" class="w-[180px] py-3 bg-[#333333] text-white flex justify-center items-center ">Solicitar Información</a>
         </div>
    </div> 

</header>


<style>
    .cta a {
        font-family: 'Lato', sans-serif;
    }
</style>

<script>

</script> 